.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  position: relative;
}

@media (min-width: 1500px) {
  .banner {
    position: relative;
    height: 600px;
  }

  .banner--fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
  }
}

.banner__contents {
  margin-left: 40px;
  padding-top: 60px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner__title {
  font-size: 6vh;
  font-weight: 800;
  margin: 10px 0;
  word-break: keep-all;
}

.banner__description {
  width: 45vw;
  line-height: 1.2;
  padding: 1.5% 0;
  font-weight: 500;
  font-size: 3vh;
  height: 60px;
  margin-bottom: 30px;
  word-break: keep-all;
}

.banner--fadeBottom {
  height: 3rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.banner__button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 2.5vh;
  font-weight: 700;
  padding: 0.5% 1.4%;
  box-sizing: border-box;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
}

@media (max-width: 1200px) {
  .banner__title {
    font-size: 5vh;
  }
  .banner__description {
    font-size: 0.9rem !important;
    width: 70%;
  }
  .banner_button {
    font-size: 0.75rem !important;
    border-radius: 4px !important;
  }
}
@media (max-width: 768px) {
  .banner {
    position: relative;
  }
  .banner__contents {
    /* width: min-content !important; */
    padding-left: 1rem;
    margin-left: 0px !important;
  }
  .banner__title {
    font-size: 5vh;
    width: 100%;
    font-weight: 800;
    margin-top: 40px;
  }
  .banner__description {
    font-size: 0.8rem !important;
    width: auto !important;
    display: none;
  }

  .info {
    text-align: start;
    padding-right: 1.2rem;
  }

  .space {
    margin-left: 6px;
  }

  .banner_button {
    font-size: 0.8rem !important;

    padding: 3% 5%;
    box-sizing: border-box;
  }
  .banner--fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
  }
}
