.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

@media (min-width: 1500px) {
  .banner {
    position: relative;
    height: 600px;
  }

  .banner--fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40rem;
  }
}

@media (max-width: 768px) {
  .banner__contents {
    width: min-content !important;
    padding-left: 2.3rem;
    margin-left: 0px !important;
  }

  .banner__description {
    font-size: 0.8rem !important;
    width: auto !important;
  }

  .info {
    text-align: start;
    padding-right: 1.2rem;
  }

  .space {
    margin-left: 6px;
  }

  .banner_button {
    font-size: 0.8rem !important;
    border-radius: 4px !important;
  }
}

.banner__contents {
  margin-left: 40px;
  padding-top: 60px;
  height: 190px;
}

.banner__title {
  font-size: 6vh;
  font-weight: 800;
}

.banner__description {
  width: 40vw;
  line-height: 1.3;
  padding: 3% 0;
  font-weight: 500;
  font-size: 3vh;
  height: 80px;
}

.banner--fadeBottom {
  height: 9rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.banner__button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 2.5vh;
  font-weight: 700;
  padding: 0.5% 1.8%;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
}
